body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #a36262;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}